@page
@model WebGBMS_core.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Проверьте почту и перейдите по ссылке";
    Layout = "~/Pages/_LayoutNoMenu.cshtml";
}

<p class="login-box-msg">Проверьте почту и перейдите по ссылке</p>


