@page
@model LockoutModel
@{
    ViewData["Title"] = "Заблокировано";
}

<header class="text-center">
    <br /><br /><br />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ваша учетная запись заблокирована попробуйте позже.</p>
    <i class="fa fa-lock fa-5x"></i>
    <br /><br /><br />
    <div class="row text-center">
        <a href="~/">На главную страницу</a>
    </div>
</header>